@import "reset";

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

img {
  max-width: 100%;
  height: auto;
}

.image-grid {
  @include clearfix;

  .image-gird__item {
    width: 20%;
    float: left;
    position: relative;
  }
}

.box {
  position: relative;
  padding:  5px 5px 5px 5px;
}

.box__figure {
  img {
    display: block;
  }
}

.image-gird__item.is-expanded {
  .image-expand {
    max-height: 600px;
    max-height: inherit;
    //padding: 30px 80px;
    margin-top: 15px;
  }

  .box {
     &:after {
       content: '';
       position: absolute;
       width: 0;
       height: 0;
       left: 0;
       right: 0;
       bottom: -18px;
       margin: 0 auto;
       border-style: solid;
       border-width: 0 15px 15px 15px;
       border-color: transparent transparent #111;
     }
  }

}

.image-expand {
  img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      box-sizing: border-box;
      overflow: hidden;
      padding: 40px;
  }
}

.image-expand {
  background-color: #111;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  box-sizing: border-box;
  max-height: 0;
  width: 500%;
  transition: max-height .3s ease-in,
              margin-top 0.2s ease-in;
}

.image-gird__item {
  &:nth-of-type(5n+6) {
    clear: left;
  }

  &:nth-of-type( 5n+2 ) .image-expand {
    margin-left: -100%;
  }

  &:nth-of-type( 5n+3 ) .image-expand {
    margin-left: -200%;
  }

  &:nth-of-type( 5n+4 ) .image-expand {
    margin-left: -300%;
  }

  &:nth-of-type( 5n+5 ) .image-expand {
    margin-left: -400%;
  }

}
